<div class="c-login-wrapper animated fadeIn">
    <div class="d-flex justify-content-center c-login-container">
        <div class="card c-login-box">
            <div class="card-block">
                <div class="text-center c-login-header">
                      <img src="assets/img/spider.jpg"  class="rounded-circle"/>
                      <h3 class="card-title"  style="display:inline">spider管理系统登录</h3>
                </div>
                <hr/>
                <div class="form-group row">
                    <div class="col-12">
                        <input class="form-control " type="text" [(ngModel)]="username" placeholder="请输入用户名...">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <input class="form-control" type="password" [(ngModel)]="password" placeholder="请输入密码...">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary c-not-shadow" (click)="login();">登  录</button>
                    </div>
                </div>
                <div class=" row">
                    <div class="col-12 text-right">
                        <a href="#">忘记密码？</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
